@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  min-width: 1200px;
  height: 100%;
}

.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

/* Title */

.title-common {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
}

.advantages,
.recommendations {
  text-align: center;
}

.advantages-white {
  color: #ffffff;
}

.advantages-item-content {
  margin: 0;
  padding-top: 30px;
}

.advantages-title-h2,
.recommendations-title-h2,
.interested-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.subscribe-title {
  color: inherit;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-colorfull {
  color: #000000;
  background-color: #ffffff;
}

.subscribe-content {
  color: #333333;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-content-text {
  color: inherit;
  font-size: 22px;
  line-height: 26px;
}

.div-inner-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  color: inherit;
  text-align: left;
}

.hotel-all {
  font-size: 30px;
  line-height: 36px;
}

.catalog-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.breadcrumbs-link-text {
  font-size: 16px;
  line-height: 21px;
}

.сontrol-input-checkbox {
  font-size: 18px;
  line-height: 23px;
}

.catalog-rating {
  font-size: 16px;
  line-height: 20px;
}

/* Button */

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 50px;
  display: inline-block;
  border: none;
}

.button:hover,
.button:active {
  opacity: 0.6;
}

.button:focus {
  opacity: 0.6;
}

/* Input */

.input {
  font-family: inherit;
}


/* Header */


.page-header {
  color: #000000;
  background-color: #ffffff;
  position: relative;
}

.page-navigation {
  display: flex;
  align-items: flex-start;
  margin: 0 70px;
  height: 64px;
  list-style-type: none;
  /* Убирает точки из списка */
}

.navigation-list,
.navigation-list-user {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  position: relative;
}

.navigation-list {
  min-width: 340px;
  margin-right: auto;
}

.navigation-list-user {
  justify-content: flex-end;
  min-width: 88px;
  margin: 0 20px;
}

.navigation-link-current::after {
  content: "";
  display: block;
  margin: 20px auto 0;
  box-shadow: 0 0 0 1px;
  width: 100%;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
  /* none - отмена подчеркивания ссылок */
  text-transform: capitalize;
  /* capitalize - прописные буквы / uppercase - заглавные буквы */
  display: block;
  padding: 14px 10px 0;
}

.navigation-item:hover,
.navigation-item:active {
  color: #3a7999;
}

.navigation-item:focus {
  color: #1955a7;
}

.navigation-link-logo:hover,
.navigation-link-logo:active,
.navigation-link-logo:focus {
  opacity: 0.6;
}

.page-header-logo {
  display: block;
}

.navigation-link-logo {
  margin-right: 28px;
  margin-bottom: -6px;
}

.navigation-item {
  padding: 6px;
}

.navigation-item-user {
  min-width: 44px;
  height: 64px;
  padding: 6px 4px;
  position: relative; /*!!!!!!!! - убрать?*/
}

.navigation-link-user {
  display: block;
  height: 100%;
  text-decoration: none;
  padding: 22px 12px;
  background-position: center;

}

/*.navigation-link-user::before {
  content: "";
  width: 20px;
  height: 20px;
  margin: auto;
  background-color: #000;
  mask: center / contain no-repeat;*/
}

.user-favorite {
  position: absolute;
  top: 10px;
  right: 5px;
  max-width: 3ch;
  min-width: 20px;
  height: 20px;
  overflow: hidden;
  padding: 5px 4px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
}

.navigation-div-button {
  display: flex;
  flex-wrap: wrap;
  max-width: 240px;
  column-gap: 14px;
  flex-shrink: 0;
}

.navigation-button {
  min-width: 160px;
  height: 36px;
  margin: 14px auto;
  padding: 8px;
}

.navigation-link-user-search {
  background-image: url("../images/icons/other/search.svg");
  background-repeat: no-repeat;
}

.navigation-link-user-favorite {
  /*background-image: url("../images/icons/other/heart.svg"), url("../images/icons/other/circle.svg");*/
  background-repeat: no-repeat;
  background-image: url("../images/icons/other/heart.svg");
  background-position: center;
}

/* Main-1 */


/* Welcome */

.welcome {
  background-image: url("../images/foto/background/background-1.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  text-align: center;
  height: 485px;
}

.welcome-img {
  background-position: center;
  display: inline-block;
  margin: 51px;
  vertical-align: top;
}

/* Advantages */

.advantages {
  padding-top: 69px;
}

.advantages-list,
.recommendations-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-auto-flow: dense;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 103px 85px;
  margin-top: auto;
  margin-bottom: auto;
  word-wrap: break-word;
  /* перенос текста */
  min-height: 385px;
}

.advantages-item-img {
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  flex-wrap: wrap;
  grid-column: span 3;
  vertical-align: middle;
  /* убирает полосу заливки под фото */
}

.advantages-item .advantages-title::after {
  content: "";
  margin: 30px auto 0;
  display: block;
  align-self: center;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-item .advantages-line::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-item-shop,
.advantages-item-devil_bridge {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.advantages-item-img-revers {
  flex-direction: row-reverse;
}

.advantages-item-center {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-side,
.recommendations-item-opaque {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-content {
  margin-bottom: 90px;
  /* 21+69 */
  margin-top: 25px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-div-wrapper {
  width: calc(100% / 3);
}

/* Recommendations */

.recommendations-title-h2 {
  margin-top: 64px;
  margin-bottom: 20px;
}

.recommendations-content {
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
}

.recommendations-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}

.recommendations-title {
  margin-top: 103px;
}

.recommendations-item-content {
  vertical-align: bottom;
}

.recommendations-item-housing {
  background-image: url("../images/icons/other/recommendations-house.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
  display: block;
  margin: auto;
}

.recommendations-item-food {
  background-image: url("../images/icons/other/recommendations-food.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
  display: block;
  margin: auto;
}

.recommendations-item-souvenirs {
  background-image: url("../images/icons/other/recommendations-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
  display: block;
  margin: auto;
}

/* Interested */

.interested {
  text-align: center;
  min-height: 406px;
  padding: 96px 304px;
}

.interested-content {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
  margin-top: 20px;
}

.interested-button {
  min-width: 376px;
  font-size: 20px;
  line-height: 36px;
}

/* Subscribe */

.subscribe-background {
  color: #ffffff;
  background-image: url("../images/foto/background/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe {
  min-height: 415px;
  text-align: center;
  padding: 96px 258px;
}

.subscribe-button {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.subscribe-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  min-width: 452px;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
}

.subscribe-form {
  display: flex;
  margin: 54px 0 0;
}


/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  min-height: 120px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.30);
}

.footer-logo-link:active {
  opacity: 0.6;
}

.footer-social,
.footer-contacts,
.footer-logo-html {
  margin: 10px 0 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  row-gap: 10px;
  /* интервал между рядами */
  max-width: 284px;
  /* 47,3px*6 */
  list-style-type: none;
  padding: 0;
}

.footer-social-link {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  width: 50px;
  height: 40px;
  padding: 0 10px;
  align-items: flex-start;
  background-position: center;
}

.footer-social-link-vk {
  background-image: url("../images/icons/social-icons/social-vk.svg");
  background-repeat: no-repeat;
}

.footer-social-link-telegram {
  background-image: url("../images/icons/social-icons/social-telegram.svg");
  background-repeat: no-repeat;
}

.footer-social-link-youtube {
  background-image: url("../images/icons/social-icons/social-youtube.svg");
  background-repeat: no-repeat;
}

.footer-social-link:hover {
  opacity: 0.6;
}

/* Main-2 */

.main-div {
  background-image: url("../images/foto/background/background-filter.jpg");
  color: #ffffff;
  background-color: #82b3d3;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}

/* Breadcrumbs */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 8px 0 40px;
  padding: 0;
}

.breadcrumbs-list::before {
  content: "";
  padding-right: 12px;
  background-image: url("../images/icons/breadcrumbs/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 21px;
  top: 0;
  right: -20px;
  background-image: url("../images/icons/breadcrumbs/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item-text {
  cursor: pointer;
}

.breadcrumbs-item-text:hover,
.breadcrumbs-item-text:active {
  opacity: 0.6;
}

.breadcrumbs-item-text:focus {
  opacity: 0.5;
}


/* Filter */

.filter-button-apply {
  background-color: #82b3d3;
}

.filter-button-reset {
  background: none;
}

.filter-group {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 16px;
  column-gap: 70px;
  grid-template-columns: 150px;
}

.filter-item {
  line-height: 23px;
  display: grid;
  row-gap: 32px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;

  align-items: flex-start;

  list-style-type: none;
}

.control {
  position: relative;
}

.control span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  opacity: 0.3;
  color: #000000;
  line-height: 24px;
}

.control .filter-input {
  appearance: textfield;
}

.range-wrapper-inputs input {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  padding-right: 40px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-apappearance: none;
  appearance: none;
}

.control .filter-input-price-from {
  border-radius: 4px 0 0 4px;
}

.control .filter-input-price-to {
  border-radius: 0 4px 4px 0;
}

.filter-title {
  border: none;
  margin: 0;
  padding: 0;
}

.check:hover .check-input::before,
.radio:hover .radio-input::before {
  opacity: 0.6;
}

.check:active .check-input::before,
.radio:active .radio-input::before {
  opacity: 0.3;
}

.check-input,
.radio-input {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 10px;
  margin-bottom: -2px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-apappearance: none;
  appearance: none;
}

/* Padding-container */

.padding-container {
  padding: 50px 70px 60px;
}

/* Catalog */

.catalog {
  margin: 50px 70px 60px;
}

.header-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-select {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px 40px 12px 20px;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  width: 292px;
  background-image: url("../images/icons/other/filter-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-apappearance: none;
  appearance: none;
}

.catalog-select:hover,
.catalog-select:focus {
  border: 2px solid #68a2ca;
  }

.catalog-select:active {
  opacity: 0.6;
}

.view-group-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  list-style-type: none;
  gap: 8px;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.view-group-item {
  padding: 14px 12px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.view-group-item:hover,
.view-group-item:active {
  border: 2px solid #000000;
}

.view-group-item:focus {
  border: 2px solid #68a2ca;
}

.view-group-item-select {
  border: 2px solid #000000;
}

.button-sort {
  background-color: red;
  /* поменять на белый */
  background-repeat: no-repeat;
}

.button-sort:hover,
.button-sort:active {
  border-color: #000000;
}

.button-sort-card {
  background-image: url("../images/icons/view-page/view-page-1.svg");
}

.button-sort-slider {
  background-image: url("../images/icons/view-page/view-page-2.svg");
}

.button-sort-list {
  background-image: url("../images/icons/view-page/view-page-3.svg");
}

.catalog-card-price {
  text-align: right;
  margin: 0;
}

.catalog-card-name {
  margin: 0;
  word-break: break-word;
}

.catalog-button-favorite-off {
  background-color: #82b3d3;
  min-width: 140px;
  padding: 8px;
}

.catalog-button-favorite-on {
  background-color: #7db54f;
  min-width: 140px;
  padding: 8px;
}

.catalog-button-more {
  margin-right: 20px;
  min-width: 140px;
  padding: 8px;
}

.catalog-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
  width: 340px;
  grid-template-rows: 212px 1fr;
  align-items: center;
  /* когда одна из кнопок переполняется, вторая не растягивается под нее */
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin: 0 0 80px;
  padding: 0;
}

.catalog-img {
  display: block;
  width: 300px;
  object-fit: contain;
  grid-column: 2 span;
}

.catalog-title {
  margin: 0;
  grid-column: 2 span;
}

.catalog-rating {
  margin: 0;
  border-radius: 4px;
  background-color: #f2f2f2;
  max-width: 140px;
  height: 37px;
  text-align: center;
  padding: 8px;
  text-transform: uppercase;
}


/* Stars */

.stars {
  height: 17px;
  margin: 0;
  background-image: url("../images/icons/other/star.svg");
  background-repeat: repeat-x;
}

.star-5 {
  width: 120px;
}

.star-4 {
  width: 96px;
}

.star-3 {
  width: 72px;
}

.star-2 {
  width: 48px;
}

.star-1 {
  width: 24px;
}

/* Pagination */

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82b3d3;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 12px;
  box-sizing: border-box;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 22px;
  line-height: 26px;
  gap: 8px;
}

.pagination-item-points {
  color: #000;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

/* Modal */
