@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  min-width: 1200px;
  height: 100%;
}
.page-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main-container {
  flex-grow: 1;
}
/* Title */
.title-common {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
}
.advantages,
.recommendations {
  text-align: center;
}
.advantages-white {
  color: #ffffff;
}
.advantages-item-content {
  margin: 0;
  padding-top: 30px;
}
.advantages-title-h2,
.recommendations-title-h2,
.interested-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}
.subscribe-title {
  color: inherit;
  font-size: 30px;
  line-height: 36px;
}
.subscribe-colorful {
  color: #000000;
  background-color: #ffffff;
}
.subscribe-content {
  color: #333333;
  font-size: 18px;
  line-height: 24px;
}
.subscribe-content-text {
  color: inherit;
  font-size: 22px;
  line-height: 26px;
}
.div-inner-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  color: inherit;
  text-align: left;
}
.hotel-all {
  font-size: 30px;
  line-height: 36px;
  padding-top: 6px;
}
.catalog-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.breadcrumbs-link-text {
  font-size: 16px;
  line-height: 21px;
}
.control-input[type="checkbox"] {
  background-color: #ffffff;
  border-radius: 4px;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}
.control-input[type="checkbox"]:checked {
  background-image: url("../images/icons/filter/tick.svg");
  background-repeat: no-repeat;
  background-position: center top 1px;
  background-size: 20px 19px;
}
.control-input[type="radio"] {
  background-color: #ffffff;
  border-radius: 50%;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}
.control-input[type="radio"]:checked {
  border: 1px solid #ffffff;
  background-color: rgba(63, 94, 114, 1);
  box-shadow: inset 0 0 0 4px #ffffff;
}
.control:hover,
.control:active {
  opacity: 0.6;
}
.control:active {
  opacity: 0.3;
}
.control-input:focus {
  border: 3px solid #83b3d3;
}
.control-input[type="radio"]:checked:focus {
  border: 3px solid #83b3d3;
}
.control-input[type="checkbox"]:checked:focus {
  background-position: center top -3px;
}
.catalog-rating {
  font-size: 16px;
  line-height: 20px;
}
/* Button */
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 50px;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #615048;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}
/* Input */
.input {
  font-family: inherit;
}
/* Header */
.page-header {
  color: #000000;
  background-color: #ffffff;
  position: relative;
}
.page-navigation {
  display: flex;
  align-items: flex-start;
  margin: 0 70px;
  min-height: 64px;
  list-style-type: none;
}
.navigation-list,
.navigation-list-user {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  position: relative;
}
.navigation-list {
  min-width: 340px;
  margin-right: auto;
}
.navigation-list-user {
  justify-content: flex-end;
  min-width: 88px;
  margin: 0 20px;
}
.navigation-link-current::after {
  content: "";
  display: block;
  margin: 20px auto -12px;
  box-shadow: 0 0 0 1px;
  width: 100%;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  padding: 14px 10px 0;
}
.navigation-item:hover,
.navigation-item:active {
  color: #3a7999;
}
.navigation-item:focus {
  color: #1955a7;
}
.navigation-link-logo:hover,
.navigation-link-logo:active,
.navigation-link-logo:focus {
  opacity: 0.6;
}
.page-header-logo {
  display: block;
}
.navigation-link-logo {
  margin-right: 28px;
  margin-bottom: -6px;
}
.navigation-item {
  padding: 6px;
}
.navigation-item-user {
  min-width: 44px;
  height: 64px;
  padding: 6px 4px;
  position: relative;
}
.navigation-link-user {
  display: block;
  height: 100%;
  text-decoration: none;
  padding: 22px 12px;
  background-position: center;
}
.user-favorite {
  position: absolute;
  top: 10px;
  right: 5px;
  max-width: 3ch;
  min-width: 20px;
  height: 20px;
  overflow: hidden;
  padding: 5px 4px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
}
.navigation-div-button {
  display: flex;
  flex-wrap: wrap;
  max-width: 240px;
  column-gap: 14px;
  flex-shrink: 0;
}
.navigation-button {
  min-width: 160px;
  height: 36px;
  margin: 14px auto;
  padding: 8px;
}
.navigation-link-user-search {
  background-image: url("../images/icons/other/search.svg");
  background-repeat: no-repeat;
}
.navigation-link-user-favorite {
  background-repeat: no-repeat;
  background-image: url("../images/icons/other/heart.svg");
  background-position: center;
}
/* Main-1 */
.welcome {
  background-image: url("../images/photo/background/background-1.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  text-align: center;
  height: 485px;
}
.welcome-img {
  background-position: center;
  display: inline-block;
  margin: 51px;
  vertical-align: top;
}
/* Advantages */
.advantages {
  padding-top: 69px;
}
.advantages-list,
.recommendations-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-auto-flow: dense;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.advantages-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 102px 85px;
  margin-top: auto;
  margin-bottom: auto;
  word-wrap: break-word;
  min-height: 385px;
}
.advantages-item-img {
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  flex-wrap: wrap;
  grid-column: span 3;
  vertical-align: middle;
}
.advantages-item .advantages-title::after {
  content: "";
  margin: 30px auto 0;
  display: block;
  align-self: center;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}
.advantages-item .advantages-line::after {
  background-color: rgba(255, 255, 255, 0.30);
}
.advantages-item-shop,
.advantages-item-devil_bridge {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.advantages-item-img-revers {
  flex-direction: row-reverse;
}
.advantages-item-center {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item-side,
.recommendations-item-opaque {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-content {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 90px;
  margin-top: 25px;
}
.advantages-div-wrapper {
  width: calc(100% / 3);
}
.advantages-black-h3 {
  margin-top: 10px;
}
/* Recommendations */
.recommendations-title-h2 {
  margin-top: 64px;
  margin-bottom: 20px;
}
.recommendations-content {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 64px;
}
.recommendations-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}
.recommendations-title {
  margin-top: 103px;
}
.recommendations-item-content {
  vertical-align: bottom;
  margin: 30px auto 0;
}
.recommendations-item-housing {
  background-image: url("../images/icons/other/recommendations-house.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
  display: block;
  margin: auto;
}
.recommendations-item-food {
  background-image: url("../images/icons/other/recommendations-food.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
  display: block;
  margin: auto;
}
.recommendations-item-souvenirs {
  background-image: url("../images/icons/other/recommendations-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
  display: block;
  margin: auto;
}
/* Interested */
.interested {
  text-align: center;
  min-height: 406px;
  padding: 96px 304px;
}
.interested-content {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
  margin-top: 20px;
}
.interested-button {
  min-width: 376px;
  font-size: 20px;
  line-height: 36px;
}
/* Subscribe */
.subscribe-background {
  color: #ffffff;
  background-image: url("../images/photo/background/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe {
  min-height: 415px;
  text-align: center;
  padding: 96px 258px;
}
.subscribe-button {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #68a2ca;
}
.subscribe-button:active {
  background-color: #82b3d3;
}
.subscribe-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  min-width: 452px;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
}
.subscribe-form {
  display: flex;
  margin: 54px 0 0;
}
/* Footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  min-height: 120px;
}
.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  text-align: center;
}
.footer-contacts-phone:hover {
  color: #756157;
}
.footer-logo-link:hover {
  opacity: 0.6;
}
.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.30);
}
.footer-logo-link:active {
  opacity: 0.6;
}
.footer-social,
.footer-contacts,
.footer-logo-html {
  margin: 10px 0 0;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  row-gap: 10px;
  max-width: 142px;
  list-style-type: none;
  padding: 0;
}
.footer-social-link {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  width: 50px;
  height: 40px;
  padding: 0 10px;
  align-items: flex-start;
  background-position: center;
}
.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 0.9;
  background-color: #ffffff;
}
.footer-social-link:active {
  opacity: 0.3;
}
.footer-social-link-vk {
  background-image: url("../images/icons/social-icons/social-vk.svg");
  background-repeat: no-repeat;
  margin-right: -4px;
}
.footer-social-link-telegram {
  background-image: url("../images/icons/social-icons/social-telegram.svg");
  background-repeat: no-repeat;
  margin-right: -4px;
}
.footer-social-link-youtube {
  background-image: url("../images/icons/social-icons/social-youtube.svg");
  background-repeat: no-repeat;
}
/* Main-2 */
.main-div {
  background-image: url("../images/photo/background/background-filter.jpg");
  color: #ffffff;
  background-color: #82b3d3;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}
/* Breadcrumbs */
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 8px 0 40px;
  padding: 0;
}
.breadcrumbs-list::before {
  content: "";
  padding-right: 12px;
  background-image: url("../images/icons/breadcrumbs/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
}
.breadcrumbs-item:last-child {
  margin-right: 0;
}
.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 21px;
  top: 0;
  right: -20px;
  background-image: url("../images/icons/breadcrumbs/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}
.breadcrumbs-item-text {
  cursor: pointer;
}
.breadcrumbs-item-text:hover,
.breadcrumbs-item-text:active {
  opacity: 0.6;
}
.breadcrumbs-item-text:focus {
  opacity: 0.5;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Filter */
.filter-button-apply {
  background-color: #82b3d3;
  display: block;
  margin-bottom: 32px;
  margin-top: 55px;
  cursor: pointer;
}
.filter-button-apply:hover,
.filter-button-apply:focus {
  background-color: #68a2ca;
}
.filter-button-apply:active {
  background-color: #82b3d3;
}
.filter-button-reset {
  background: none;
  min-width: 191px;
}
.filter-button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  background: none;
}
.filter-button-reset:focus {
  border: 3px solid #83b3d3;
  background: none;
}
.filter-group {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  padding-left: 0;
}
.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 14px;
}
.filter-item {
  line-height: 23px;
  row-gap: 32px;
}
.filter-form {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  gap: 70px;
  list-style-type: none;
}
.control {
  position: relative;
}
.control:not(.control-from, .control-before) {
  word-spacing: 12px;
}
.control span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  opacity: 0.3;
  color: #000000;
  line-height: 24px;
}
.control .filter-input {
  appearance: textfield;
}
.control .filter-input:hover,
.control .filter-input:focus {
  background-color: #e6e6e6;
}
.control .filter-input:focus {
  border: 3px solid #83b3d3;
}
.control-from {
  margin-right: -3px;
}
.range-wrapper-inputs input {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  padding-right: 40px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  box-sizing: border-box;
  appearance: none;
  background-color: #f2f2f2;
}
.price-div {
  margin-left: auto;
}
.control .filter-input-price-from {
  border-radius: 4px 0 0 4px;
}
.control .filter-input-price-to {
  border-radius: 0 4px 4px 0;
}
.filter-title {
  border: none;
  margin: 0 0 -8px;
  padding: 0;
}
/* Range-slider */
.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 44px;
  margin-bottom: 16px;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.range-toggle:hover {
  opacity: 0.8;
}
.range-toggle:focus {
  outline: 3px solid #82b3d3;
}
.range-toggle:active {
  outline: 1px solid #82b3d3;
}
.toggle-min {
  top: -8px;
  left: -10px;
}
.toggle-max {
  top: -8px;
  right: -10px;
}
/* Padding-container */
.padding-container {
  padding: 50px 70px 60px;
}
/* Catalog */
.catalog {
  margin: 50px 70px 60px;
}
.header-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.catalog-select {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  margin-left: auto;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  width: 292px;
  background-image: url("../images/icons/filter/filter-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: pointer;
  appearance: none;
}
.catalog-select:hover,
.catalog-select:focus {
  border: 2px solid #68a2ca;
}
.catalog-select:disabled {
  opacity: 0.3;
}
.view-group-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  list-style-type: none;
  gap: 8px;
  align-self: flex-start;
  margin: 0;
  margin-left: 70px;
  padding: 0;
}
.button-sort {
  display: block;
  padding: 0;
  outline: 2px solid #e5e5e5;
  outline-offset: -2px;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}
.view-group-item:hover,
.view-group-item:active {
  outline: 2px solid #000000;
  border-radius: 4px;
}
.view-group-item:focus {
  outline: 2px solid #68a2ca;
  border-radius: 4px;
}
.view-group-item-select {
  outline: 2px solid #000000;
  outline-offset: -2px;
  border-radius: 4px;
}
.button-sort-card {
  background-image: url("../images/icons/view-page/view-page-1.svg");
}
.button-sort-slider {
  background-image: url("../images/icons/view-page/view-page-2.svg");
}
.button-sort-list {
  background-image: url("../images/icons/view-page/view-page-3.svg");
}
.catalog-card-price {
  text-align: right;
  margin: 0;
}
.catalog-card-name {
  margin: 0;
  word-break: break-word;
}
.catalog-button-favorite-off {
  background-color: #82b3d3;
  min-width: 140px;
  padding: 8px;
}
.catalog-button-favorite-off:hover,
.catalog-button-favorite-off:focus {
  background-color: #68a2ca;
}
.catalog-button-favorite-on {
  background-color: #7db54f;
  min-width: 140px;
  padding: 8px;
}
.catalog-button-favorite-on:hover,
.catalog-button-favorite-on:focus {
  background-color: #6c9e42;
}
.catalog-button-more {
  margin-right: 20px;
  padding: 8px;
  min-width: 140px;
}
.catalog-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
  width: 340px;
  grid-template-rows: 212px 1fr;
}
.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin: 0 0 40px;
  padding: 0;
}
.catalog-img {
  display: block;
  width: 300px;
  object-fit: contain;
  grid-column: 2 span;
}
.catalog-img:hover,
.catalog-img:active {
  opacity: 0.6;
}
.catalog-img:focus {
  opacity: 0.6;
}
.catalog-title {
  margin: 0;
  grid-column: 2 span;
}
.catalog-rating {
  border-radius: 4px;
  background-color: #f2f2f2;
  max-width: 140px;
  height: 37px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 8px;
}
/* Stars */
.stars {
  height: 17px;
  background-image: url("../images/icons/other/star.svg");
  background-repeat: repeat-x;
  margin: 0;
  margin-top: 9px;
}
.star-5 {
  width: 120px;
}
.star-4 {
  width: 96px;
}
.star-3 {
  width: 72px;
}
.star-2 {
  width: 48px;
}
.star-1 {
  width: 24px;
}
/* Pagination */
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 12px;
  box-sizing: border-box;
}
.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}
.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}
.pagination-link:active {
  color: rgba(255, 255, 255, 0.30);
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 22px;
  line-height: 26px;
  gap: 8px;
  box-shadow: inset 0 1px #e6e6e6;
  padding-top: 40px;
}
.pagination-item-points {
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
/* Modal */
.dialog::backdrop {
  background-color: rgba(242, 242, 242, 0.80);
}
.index-modal {
  align-self: stretch;
  width: 717px;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  border: none;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}
.modal-search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 64px;
}
.modal-label-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}
.text-input[type="text"] {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  min-width: 440px;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 12px 20px;
  border: none;
  font-family: inherit;
}
.text-input[type="number"] {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  align-items: center;
}
.modal-attention {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  padding: 4px 20px;
  margin-left: 137px;
}
.modal-error {
  color: #ff5757;
  position: relative;
  padding: 4px 20px;
  margin-left: 137px;
}
.modal-button-search {
  min-width: 577px;
  padding: 18px 77px;
  border-radius: 10px;
  background-color: #83b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  margin-top: 29px;
}
.modal-button-search:hover,
.modal-button-search:focus,
.modal-button-search:active {
  background-color: #68a2ca;
}
.modal-button-search:active {
  color: rgba(255, 255, 255, 0.3);
}
.modal-quantity {
  width: 110px;
  border-radius: 4px;
  background-color: #f2f2f2;
  display: flex;
}
.modal-close-button {
  position: absolute;
  right: 51px;
  top: 64px;
  width: 52px;
  height: 52px;
  overflow: hidden;
  padding: 5px 4px;
  background-color: #f2f2f2;
  border-radius: 50%;
  box-sizing: border-box;
  background-image: url("../images/icons/modal/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
.modal-close-button:hover {
  background-color: rgba(230, 230, 230, 1);
}
.modal-close-button:focus {
  background-color: rgba(230, 230, 230, 1);
  border: 4px solid rgba(131, 179, 211, 1);
}
.modal-close-button:active {
  background-color: rgba(168, 164, 164, 1);
  opacity: 0.3;
}
.modal-field[type="text"] {
  background-image: url("../images/icons/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  position: relative;
}
.modal-button-decrease {
  width: 38px;
  height: 48px;
  overflow: hidden;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  background-image: url("../images/icons/modal/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
.modal-button-increase {
  width: 38px;
  height: 48px;
  overflow: hidden;
  background-color: #f2f2f2;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  background-image: url("../images/icons/modal/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
.modal-field[type="number"] {
  width: 31px;
  overflow: hidden;
  background-color: #f2f2f2;
  box-sizing: border-box;
  border: none;
  text-align: center;
  font-family: inherit;
}
.modal-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 19px;
}
.modal-label-margin {
  margin-right: 48px;
  margin-top: 10px;
}
.modal-div-tooltip {
  display: flex;
  justify-content: space-between;
}
.tooltip {
  position: absolute;
  margin-top: -42px;
  margin-left: 57px;
}
.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}
.tooltip-text {
  background-color: #333333;
  box-shadow: 0 15 30px 0 rgba(0, 0, 0, 0.30);
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding: 16px 20px;
  margin-top: 9px;
  width: 256px;
  font-weight: 400;
  border-radius: 10px;
  position: absolute;
  margin-bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}
.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}
.tooltip-toggle:hover .tooltip-icon {
  color: #af7842;
}
.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
.form-label-icon {
  position: relative;
  padding-right: 16px;
}
.tooltip-text:after {
  content:'';
  background-image: url("../images/icons/modal/triangle.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}
.modal-wrapper-adults {
  width: 247px;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.div-wrapper-family {
  display: flex;
  margin: 0 auto 18px;
}
